@page "/DataBindingDemo"
@inherits DataBindingDemoBase

<h1>DataBindingDemo</h1>

<hr />
<h2>One way data binding</h2>

<div>
    <b>Name: </b> @Name
</div>
<div>
    <b>Name with salutation: </b> @(Gender == "Male" ? $"Mr. {Name}" : $"Miss. {Name}")
</div>
<div>
    <b>Name: </b> <input value="@Name" />
</div>

<hr />
<h2>Two way data binding</h2>
<div>
    <b>Name: </b> <input value="@Name" @onchange="@(e => {Name = e.Value.ToString(); })"/>
</div>
<div>
    <b>Name: </b> <input @bind="Name"/>
</div><div>
    <b>Name: </b> <input @bind="Name" @bind:event="oninput"/>
</div>

<br />

<div>
    <textarea @bind="Description" @bind:event="oninput" stlye="width:500px"></textarea>
</div>
<div>
    Count of characters: @Description.Length
</div>